 div{
            width: 550px;
            border:6px solid rgb(29, 99, 180) ;
            background-color: rgb(217, 187, 246);
        }

        p{
            text-align: justify;
           padding-left: 15px;
           padding-right: 15px;
           font-size: 17px;
           font-family: cursive;
        }
        h1{
            font-size: 25px;
           font-family: cursive;
        }
        